*{
	margin: 0;
	padding: 0;

}

body{
	background-color: rgb(97, 126, 112);
}

.clearfix{
	clear: both;
	height: 0;
	width: 0;
	background-color: transparent;
}

.main-header{
	max-width: 1040px;
	margin: 0 auto;
	font-family: 'Satisfy', serif;
	padding-left: 60px;
	color: white;
	font-size: 55px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 2;
}

#version{
	position: absolute;
	top: -14px;
	right: 10px;
	opacity: .5;
}

.container{
	width: 1000px;
	margin: 0 auto;
	margin-top: -25px;
	margin-bottom: 20px;
	position: relative;
}

input{
	margin: 5px;
	text-align: center;
	margin-bottom: 20px;
	border: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 15px;
	font-weight: 700;
}

section{
	padding: 20px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.35);
	font-family: "Roboto", sans-serif;
	color: white;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
	border-radius: 4px;
}

.game-info{
	position: relative;
	top: -120px;
}

.game-toggle{
	width: 300px;
	margin-left: 10px;
	position: relative;
	top: -110px;
}

.game-toggle h1{
	background-color: rgba(0, 0, 0, 0.6);
	height: 50px;
	line-height: 50px;
	border-radius: 4px 4px 0px 0px;
}

.game-toggle div{
	float: left;
	width: 20%;
	height: 70px;
	line-height: 30px;
	padding: 20px;
	box-sizing: border-box;
	margin: 0;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.35);
	cursor: pointer;
}

.game-toggle #selected{
	background-color: rgba(0, 0, 0, 0.6)
}

#results{
	font-family: 'courier-new', monospace;
	background-color: white;
	padding: 20px;
	color: black;
	text-align: left;
	display: none;
	overflow: hidden;
}

.round-info{
	width: 26%;
	float: left;
	min-height: 230px;
}

.player-one, .player-two{
	width: 28%;
	float: left;
}

.game-info section{
	background-color: rgba(0, 0, 0, 0.6);
	padding-top: 35px;
	border-radius: 0px 4px 4px 4px;
	display: none;
}

.game-info section div{
	display: inline-block;
	width: 18%;
}

.game-info section div input{
	width: 140px;
}

button{
	border: none;
	padding: 7px;
	color: white;
	margin: 0 auto;
	display: block;
	width: 200px;
	cursor: pointer;
	position: relative;
	top: -70px;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background-color: #1589D0;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-shadow: 1px 1px 2px black;
	transition: .3s;
}

button:hover{
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

button:active{
	background-color: #16618E;
}

.copyright, .copyright a{
	font-family: "Roboto", sans-serif;
	color: white;
	text-align: center;
	margin-top: -13px;
	margin-bottom: 20px;
	font-weight: 300;
	text-decoration: none;
	opacity: 0.5;
}