*{
	margin: 0;
	padding: 0;

}

body{
	background-color: rgb(110, 110, 110);
	transition: .5s;
}

.clearfix{
	clear: both;
	height: 0;
	width: 0;
	background-color: transparent;
}

.main-header{
	max-width: 1040px;
	margin: 0 auto;
	font-family: 'Merriweather', serif;
	font-style: italic;
	padding-left: 60px;
	color: white;
	font-size: 55px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 2;
}

#version{
	position: absolute;
	top: -14px;
	right: 10px;
	opacity: .5;
}

.container{
	width: 1000px;
	margin: 0 auto;
	margin-top: -14px;
	margin-bottom: 20px;
	position: relative;
}

input{
	margin: 5px;
	text-align: center;
	margin-bottom: 20px;
	border: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	color: white;
}

section{
	padding: 20px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.35);
	font-family: "Roboto", sans-serif;
	color: white;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
	border-radius: 4px;
}

select, option{
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	text-align: center;
	width: 235px;
	margin-top: 10px;
}

option{
	background-color: rgb(27, 27, 27);
}

/*===Round Info (e.g. Grand Finals)===*/

.round-info{
	box-sizing: border-box;
	min-height: 90px;
}

.round-info input:first-child{
	margin-top: 5px;
}

.round-info input{
	font-size: 24px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

#Round{
	margin-bottom: 15px;
}

#vod-link{
	font-size: 13px;
	width: 290px;
	margin-top: -15px;
	margin-bottom: 5px;
}

/*===Player 1 & 2 Info===*/

.player-one h1, .player-two h1{
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 50px;
	border-radius: 4px 4px 0px 0px;
	margin-bottom: 20px;
}

.player-one, .player-two, .game-wrapper{
	width: 31.3%;
	height: 584px;
	overflow: hidden;
	padding: 0;
	position: relative;
	float: left;
}

.player-name{
	margin-top: 10px;
}

#PlayerOneMains, #PlayerTwoMains{
	margin-bottom: 20px;
}

.PlayerOneCharacter div, .PlayerTwoCharacter div{
	margin-top: 12.5px;
	margin-left: 12.5px;
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

.expand-extras{
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	line-height: 50px;
	border-radius: 0px 0px 4px 4px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	transition: .6s;
}

.extra{
	display: none;
	position: relative;
	transition: .6s;
}

.extra .clear-extra{
	margin: 0;
	position: absolute;
	font-size: 14px;
	right: 20px;
	top: 22px;
	padding: 3px;
	border-radius: 20px;
	height: 15px;
	width: 15px;
	line-height: 14px;
	cursor: pointer;
	transition: 0s;
}

.clear-extra span{
	color: rgba(255, 255, 255, 0.1);
	font-size: 18px;
	display: block;
	margin: 0 auto;
	transform: scale(1.4, 1);
	-webkit-transform: scale(1.4, 1);
	-moz-transform: scale(1.4, 1);
	-ms-transform: scale(1.4, 1);
	-o-transform: scale(1.4, 1);
}

.extra .clear-extra:hover{
	background-color: rgba(0, 0, 0, 0.5);
}

.extra .clear-extra:hover span{
	color: white;
}

.player-one .extra h1, .player-two .extra h1{
	margin-bottom: 0;
}

.player-one div, .player-two div{
	margin-top: 69.5px;
	transition: .6s;
}

/*===Game settings===*/


.game-wrapper{
	height: auto;
	min-height: 520px;
}

.game-info{
	position: relative;
}

.game-toggle h1{
	background-color: rgba(0, 0, 0, 0.6);
	height: 50px;
	line-height: 50px;
	border-radius: 4px 4px 0px 0px;
}

.game-toggle div{
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	width: 20%;
	height: 50px;
	line-height: 10px;
	padding: 20px;
	box-sizing: border-box;
	margin: 0;
	font-size: 20px;
	cursor: pointer;
}

.game-toggle #selected{
	background-color: rgba(0, 0, 0, 0.6);
}

.game-info section{
	background-color: transparent;
	padding-top: 9px;
	border-radius: 0px 4px 4px 4px;
	display: none;
	overflow: auto;
}

.game-info section div{
	display: block;
}

.game-info li div{
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

.character-select{
	overflow: hidden;
}

.main-one-wrapper, .main-two-wrapper{
	width: 50%;
	float: left;
}

.P1-char-wrap{
	float: left;
	width: 48%;
	overflow: auto;
}
.P2-char-wrap{
	float: right;
	width: 48%;
	overflow: auto;
}

.PlayerOneCharacter, .PlayerTwoCharacter, #P1Main1, #P1Main2, #P2Main1, #P2Main2{
	height: 50px;
	width: 50px;
	margin: auto;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

#PlayerOneMains div, #PlayerTwoMains div{
	margin: 0;
}

.character-main-wrapper{
	display: inline-block;
	margin-top: 0;
}

#P1Main1, #P1Main2, #P2Main1, #P2Main2{
	float: left;
	margin-top: 0;
}

#PlayerOneMains #P1Main1, #PlayerTwoMains #P2Main1{
	margin: 0;
	margin-right: 10px;
}

#P1Main1 div, #P1Main2 div, #P2Main1 div, #P2Main2 div{
	margin-top: 12.5px;
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

.player-one div h1, .player-two div h1{
	font-family: "Roboto", sans-serif;
	color: white;
	background-color: transparent;
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 10px;
}

.stage-select{
	margin-top: 20px;
}

.winner{
	margin-top: 35px;
}

.game-info .player-winner:last-child{
	margin-top: -10px;
}

.game-info .player-winner{
	font-size: 13px;
	padding: 7px;
	margin: 10px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
}

.game-info .selected-winner{
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.stock-count{
	margin-top: 35px;
	padding-bottom: 40px;
}

.stock-count ul{
	background-color: rgba(0, 0, 0, 0.15);
	height: 45px;
	border-radius: 4px;
	border: 1px solid white;
	width: 230px;
	margin: 0 auto;
	margin-top: 10px;
}

.stock-count li{
	display: inline-block;
	padding: 10px 5px 10px 5px;
	cursor: pointer;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;
}

/*===Generate Markup Button===*/

button{
	border: none;
	padding: 7px;
	color: white;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 200px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background-color: #1589D0;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-shadow: 1px 1px 2px black;
	transition: .3s;
}

button:hover{
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

button:active{
	background-color: #16618E;
}

.copyright, .copyright a{
	font-family: "Roboto", sans-serif;
	color: white;
	text-align: center;
	margin-top: -13px;
	margin-bottom: 20px;
	font-weight: 300;
	text-decoration: none;
	opacity: 0.5;
}

/*===Output===*/

#results{
	font-family: 'courier-new', monospace;
	background-color: white;
	padding: 20px;
	color: black;
	text-align: left;
	display: none;
	overflow: hidden;
}

/*--Character Select Overlay--*/

.blackout{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 10;
}

.close-blackout{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
}

.close-X{
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 25px;
	color: gray;
	transition: .5s;
	transform: scale(1.25,1);
	-webkit-transform: scale(1.25,1);
	-moz-transform: scale(1.25,1);
	-ms-transform: scale(1.25,1);
	-o-transform: scale(1.25,1);
}

.close-X:hover{
	color: black;
}

.character-popout{
	background-color: rgb(219, 219, 219);
	margin-top: 110px;
	padding: 40px;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 12;
	border-radius: 4px;
}

.clear-char{
	font-family: "Roboto", sans-serif;
	margin-top: 20px;
	padding: 8px;
	border: 1px solid black;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	cursor: pointer;
}

#character-list td{
	padding: 10px;
	scale(1.25);
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

#character-list td div{
	cursor: pointer;
}

.Bowser,
.CF,
.DK,
.DrMario,
.Falco,
.Fox,
.Ganon,
.Icies,
.Puff,
.Kirby,
.Link,
.Luigi,
.Mario,
.Marth,
.Mewtwo,
.GNW,
.Ness,
.Peach,
.Pichu,
.Pikachu,
.Yoshi,
.Roy,
.Samus,
.YL,
.Zelda {
    background-image: url("../images/character-sheet.png");
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px
}
.Bowser {
    width: 24px;
    height: 24px;
    background-position: -5px -5px
}
.CF {
    width: 24px;
    height: 24px;
    background-position: -39px -5px
}
.DK {
    width: 24px;
    height: 24px;
    background-position: -73px -5px
}
.DrMario {
    width: 24px;
    height: 24px;
    background-position: -107px -5px
}
.Falco {
    width: 24px;
    height: 24px;
    background-position: -141px -5px
}
.Fox {
    width: 24px;
    height: 24px;
    background-position: -5px -39px
}
.Ganon {
    width: 24px;
    height: 24px;
    background-position: -39px -39px
}
.Icies {
    width: 24px;
    height: 24px;
    background-position: -73px -39px
}
.Puff {
    width: 24px;
    height: 24px;
    background-position: -107px -39px
}
.Kirby {
    width: 24px;
    height: 24px;
    background-position: -141px -39px
}
.Link {
    width: 24px;
    height: 24px;
    background-position: -5px -73px
}
.Luigi {
    width: 24px;
    height: 24px;
    background-position: -39px -73px
}
.Mario {
    width: 24px;
    height: 24px;
    background-position: -73px -73px
}
.Marth {
    width: 24px;
    height: 24px;
    background-position: -107px -73px
}
.Mewtwo {
    width: 24px;
    height: 24px;
    background-position: -141px -73px
}
.GNW {
    width: 24px;
    height: 24px;
    background-position: -5px -107px
}
.Ness {
    width: 24px;
    height: 24px;
    background-position: -39px -107px
}
.Peach {
    width: 24px;
    height: 24px;
    background-position: -73px -107px
}
.Pichu {
    width: 24px;
    height: 24px;
    background-position: -107px -107px
}
.Pikachu {
    width: 24px;
    height: 24px;
    background-position: -141px -107px
}
.Roy {
    width: 24px;
    height: 24px;
    background-position: -5px -141px
}
.Samus {
    width: 24px;
    height: 24px;
    background-position: -39px -141px
}
.Yoshi {
    width: 24px;
    height: 24px;
    background-position: -73px -141px
}
.YL {
    width: 24px;
    height: 24px;
    background-position: -107px -141px
}
.Zelda {
    width: 24px;
    height: 24px;
    background-position: -141px -141px
}

.Sheik{
	background: url("../images/sheik-sprite.png") no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	content: "";
}

.no-char{
	height: 24px;
	width: 24px;
	background-color: rgb(219, 104, 104);
	border: 3px solid rgb(153, 56, 56);
	box-sizing: border-box;
	border-radius: 100px;
}