*{
	margin: 0;
	padding: 0;
}

body{
	background-color: rgb(110, 110, 110);
	transition: .5s;
}

h1, th, b{
	font-weight: 600;
}

.clearfix{
	clear: both;
	height: 0;
	width: 0;
	padding: 0;
	background-color: transparent;
}

.main-header{
	max-width: 1040px;
	margin: 0 auto;
	margin-top: 20px;
	font-family: 'Merriweather', serif;
	font-style: italic;
	padding-left: 60px;
	color: white;
	font-size: 55px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	z-index: 2;
}

.main-header a{
	text-decoration: none;
	color: white;
}

#version{
	position: absolute;
	top: -14px;
	right: 10px;
	opacity: .5;
}

.container{
	width: 1000px;
	margin: 0 auto;
	margin-top: -14px;
	margin-bottom: 20px;
	position: relative;
}

input{
	margin: 5px;
	text-align: center;
	margin-bottom: 20px;
	border: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.75);
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	color: white;
}

section{
	padding: 20px;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.35);
	font-family: "Roboto", sans-serif;
	color: white;
	font-size: 13px;
	font-weight: 300;
	text-align: center;
	border-radius: 4px;
}

select, option{
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	text-align: center;
	width: 235px;
	margin-top: 10px;
}

option{
	background-color: rgb(27, 27, 27);
}

/*===Game select screen===*/

#tutorial-info h1, #select-game h1{
	font-size: 20px;
	margin-bottom: 10px;
	display: inline-block;
	padding: 3px;
	padding-bottom: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.75);
}

#select-game h1{
	margin-bottom: 30px;
}

.game-choice{
	float: left;
	width: 33.3%;
	margin-bottom: 30px;
}

.games-row:nth-of-type(2){
	position: relative;
	left: 140px;
}

/*===Tutorial Info===*/

#tutorial-info, #select-game{
	line-height: 1.8;
	color: rgba(255, 255, 255, 0.75);
	font-style: italic;
	font-family: 'Droid Serif' serif;
	font-size: 13px;
	position: relative;
}

#tutorial-info p{
	max-width: 60%;
	margin: 0 auto;
}

#tutorial-info .close-X{
	position: absolute;
	font-style: normal;
	font-size: 18px;
	top: 5px;
	right: 15px;
	transition: .2s;
}

#tutorial-info .close-X:hover{
	color: white;
}

/*===Round Info (e.g. Grand Finals)===*/

.round-info{
	box-sizing: border-box;
	min-height: 90px;
}

.round-info input:first-child{
	margin-top: 5px;
}

.round-info input{
	font-size: 24px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
	min-width: 295px;
}

#Round{
	margin-bottom: 15px;
}

#vod-link{
	font-size: 13px;
	width: 290px;
	margin-top: -15px;
	margin-bottom: 5px;
}

#custom-toggle{
	width: 290px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 20px;
	font-size: 16px;
}

#custom-toggle h1{
	width: 30%;
	display: inline-block;
	text-align: left;
	color: rgba(255, 255, 255, 0.8);;
}

#custom-toggle span{
	width: 30%;
	display: inline-block;
	border-radius: 4px;
	padding: 7px;
	box-sizing: border-box;
	cursor: pointer;
}

#custom-toggle .selected-custom-mode{
	/*background-color: rgba(0, 0, 0, 0.15);*/
	border: 1px solid rgba(255, 255, 255, 0.3);
}

/*===Player 1 & 2 Info===*/

.player-one > h1, .player-two > h1{
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 50px;
	border-radius: 4px 4px 0px 0px;
	margin-bottom: 20px;
	font-size: 18px;
}

.player-one input, .player-two input{
	width: 190px;
}

.player-one, .player-two, .game-wrapper{
	width: 31.3%;
	height: 610px;
	overflow: hidden;
	padding: 0;
	position: relative;
	float: left;
}

.player-name{
	margin-top: 10px;
}

#PlayerOneMains, #PlayerTwoMains{
	margin-bottom: 20px;
}

.PlayerOneCharacter div, .PlayerTwoCharacter div{
	margin-top: 11px;
	margin-left: 11px;
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

.expand-extras{
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	line-height: 50px;
	border-radius: 0px 0px 4px 4px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
	transition: .6s;
}

.extra{
	display: none;
	position: relative;
	transition: .6s;
}

.extra .clear-extra{
	margin: 0;
	position: absolute;
	font-size: 14px;
	right: 20px;
	top: 22px;
	padding: 3px;
	border-radius: 20px;
	height: 15px;
	width: 15px;
	line-height: 14px;
	cursor: pointer;
	transition: 0s;
}

.clear-extra span{
	color: rgba(255, 255, 255, 0.1);
	font-size: 18px;
	display: block;
	margin: 0 auto;
	transform: scale(1.4, 1);
	-webkit-transform: scale(1.4, 1);
	-moz-transform: scale(1.4, 1);
	-ms-transform: scale(1.4, 1);
	-o-transform: scale(1.4, 1);
}

.extra .clear-extra:hover{
	background-color: rgba(0, 0, 0, 0.5);
}

.extra .clear-extra:hover span{
	color: white;
}

.player-one .extra h1, .player-two .extra h1{
	margin-bottom: 0;
}

.player-one div, .player-two div{
	margin-top: 69.5px;
	transition: .6s;
}

/*===Game settings===*/


.game-wrapper{
	height: auto;
	min-height: 610px;
}

.game-toggle > h1{
	background-color: rgba(0, 0, 0, 0.6);
	height: 50px;
	line-height: 50px;
	border-radius: 4px 4px 0px 0px;
	font-size: 18px;
}

.game-info div h1{
	font-size: 13px;
}

.game-toggle div{
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	width: 20%;
	height: 50px;
	line-height: 10px;
	padding: 20px;
	box-sizing: border-box;
	margin: 0;
	font-size: 20px;
	cursor: pointer;
}

.game-toggle .current-game{
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom: 3px solid white;
}

.game-info section{
	background-color: transparent;
	padding-top: 9px;
	border-radius: 0px 4px 4px 4px;
	display: none;
	overflow: auto;
}

.game-info section div{
	display: block;
}

.game-info li div{
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

.character-select{
	overflow: hidden;
}

.main-one-wrapper, .main-two-wrapper{
	width: 50%;
	float: left;
}

.P1-char-wrap{
	float: left;
	width: 48%;
	overflow: auto;
}
.P2-char-wrap{
	float: right;
	width: 48%;
	overflow: auto;
}

.PlayerOneCharacter, .PlayerTwoCharacter, #P1Main1, #P1Main2, #P2Main1, #P2Main2{
	height: 50px;
	width: 50px;
	margin: auto;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

#PlayerOneMains div, #PlayerTwoMains div{
	margin: 0;
}

.character-main-wrapper{
	display: inline-block;
	margin-top: 0;
}

#P1Main1, #P1Main2, #P2Main1, #P2Main2{
	float: left;
	margin-top: 0;
}

#PlayerOneMains #P1Main1, #PlayerTwoMains #P2Main1{
	margin: 0;
	margin-right: 10px;
}

#P1Main1 div, #P1Main2 div, #P2Main1 div, #P2Main2 div{
	margin-top: 10px;
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

.player-one div h1, .player-two div h1{
	font-family: "Roboto", sans-serif;
	color: white;
	background-color: transparent;
	font-size: 13px;
	line-height: 13px;
	margin-bottom: 5px;
}

.stage-select{
	margin-top: 20px;
}

.Stage option{
	margin: 0;
	width: 200px;
	cursor: pointer;
}

.winner{
	margin-top: 35px;
}

.game-info .player-winner:last-child{
	margin-top: -10px;
}

.game-info .player-winner{
	font-size: 13px;
	padding: 7px;
	margin: 10px;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid transparent;
}

.game-info .selected-winner{
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

.stock-count{
	margin-top: 35px;
	padding-bottom: 40px;
}

.stock-count ul{
	background-color: rgba(0, 0, 0, 0.15);
	height: 45px;
	border-radius: 4px;
	border: 1px solid white;
	width: 230px;
	margin: 0 auto;
	margin-top: 10px;
}

.stock-count li{
	display: inline-block;
	padding: 10px 2px 10px 2px;
	cursor: pointer;
	width: 30px;
	height: 30px;
	line-height: 27px;
	text-align: center;
	vertical-align: middle;
}

.stock-count li div{
	position: relative;
	top: -2px;
}

.delete-game-data{
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.2);
	line-height: 50px;
	border-radius: 0px 0px 4px 4px;
	position: absolute;
	bottom: 0;
	left: 0;
	cursor: pointer;
	transition: .6s;
}

.delete-this-game{
	position: absolute;
	width: 50%;
	height: 100%;
	display: inline-block;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0;
	color: white;
	transition: .3s;
}

.delete-set{
	position: absolute;
	width: 50%;
	height: 100%;
	display: inline-block;
	top: 0;
	right: 0;
	background-color: black;
	opacity: 0;
	color: white;
	transition: .3s;
}

.delete-game-data:hover div{
	opacity: 1;
}

.delete-game-data div:hover{
	background-color: rgb(140, 14, 14);
}

/*===Generate Markup Button===*/

button{
	border: none;
	padding: 7px;
	color: white;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	width: 200px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background-color: #1589D0;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-shadow: 1px 1px 2px black;
	transition: .3s;
}

button:hover{
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

button:active{
	background-color: #16618E;
}

.copyright, .copyright a{
	font-family: "Roboto", sans-serif;
	color: white;
	text-align: center;
	margin-top: -13px;
	padding-bottom: 20px;
	font-weight: 300;
	font-size: 16px;
	text-decoration: none;
	opacity: 0.5;
}

/*===Output===*/

#snackbar{
	text-align: center;
	position: fixed;
	bottom: 100px;
	width: 100%;
	z-index: 11;
}

#snackbar-shade{
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 10;
}

#snackbar span{
	padding: 20px;
	display: inline-block;
	background-color: rgb(30, 30, 30);
	color: white;
	font-family: "Roboto", sans-serif;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

#results{
	display: none;
}

#results > div{
	margin-top: 40px;
}

#results h1{
	text-align: left;
	margin-bottom: 5px;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.6)
}

#comment-code{
	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 110px;
	font-size: 15px;
	font-family: 'courier-new', monospace;
	background-color: #fafafa;
	padding: 20px;
	color: black;
	border: none;
	text-align: left;
	overflow: auto;
	cursor: pointer;
}

#preview{
	background-color: #fafafa;
	color: black;
	padding: 20px;
	text-align: center;
	overflow: hidden;
}

#preview-inner{
	display: inline-block;
	text-align: left;
	margin-bottom: 15px;
}

#preview-inner a{
	color: #0079d3;
	text-decoration: none;
}

#preview-inner a:visited{
	color: #952EB8
}

#preview-inner h1{
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	color: #222;
	font-size: 18px;
	margin-bottom: 15px;
}

#preview-inner div{
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	color: #222;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: middle;
}

#preview .P1previewmedia{
	margin-bottom: 0;
}
#preview .preview-vs{
	margin-bottom: 3px;
	margin-top: 3px;
}
#preview .P2previewmedia{
	margin-top: 0;
}

#preview-inner table{
	color: #222;
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
	border-collapse: collapse;
}

#preview-inner th, #preview-inner td{
	padding: 4px 9px;
	color: #222;
	border: 1px solid #CFCFCF;
	font-size: 13px;
	font-family: 'Verdana', 'Arial', 'Helvetica', sans-serif;
}

#preview-inner th div, #preview-inner td div{
	margin: 0;
}

#preview-inner td code{
	border: 1px solid #eeeed2;
	background-color: #fcfcf7;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 2px;
}

/*--Character Select Overlay--*/

.blackout{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	z-index: 10;
}

.close-blackout{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 11;
}

.close-X{
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 25px;
	color: gray;
	transition: .5s;
	transform: scale(1.25,1);
	-webkit-transform: scale(1.25,1);
	-moz-transform: scale(1.25,1);
	-ms-transform: scale(1.25,1);
	-o-transform: scale(1.25,1);
}

.close-X:hover{
	color: black;
}

.character-popout{
	background-color: rgb(219, 219, 219);
	margin-top: 110px;
	padding: 40px;
	text-align: center;
	display: inline-block;
	position: relative;
	z-index: 12;
	border-radius: 4px;
}

.clear-char{
	font-family: "Roboto", sans-serif;
	margin-top: 20px;
	padding: 8px;
	border: 1px solid black;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	cursor: pointer;
}

#character-list td{
	padding: 6px 8px 6px 8px;
	scale(1.25);
	transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
}

#character-list td div{
	cursor: pointer;
}
/*--Ads--*/

#ad-container{
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) inset;*/
	display: inline-block;
	width: 125px;
	height: 550px;
	max-height: 1000px;
	position: fixed;
	top: 75px;
	right: 0;
	overflow: hidden;
}

@media screen and (max-width: 1330px) {
	/*--Ads--*/

	#ad-container{
		display: block;
		width: 1040px;
		height: 100px;
		margin: 0 auto;
		position: static;
	}
}