/*Smash 4 specific styles*/

.player-one, .player-two{
	height: 635px;
}

.game-wrapper{
	min-height: 635px;
}

.player-one div, .player-two div{
	margin-top: 90px;
}

#P1Main1 div, #P1Main2 div, #P2Main1 div, #P2Main2 div{
	margin-top: 12px;
}

.game-info li div{
	position: relative;
	top: -1px;
}

.PlayerOneCustoms, .PlayerTwoCustoms{
	width: 40px;
	height: 10px;
}

.game-info .P1-char-wrap h1,.game-info .P2-char-wrap h1{
	font-size: 17px;
}

.game-info .CustomWrap{
	display: none;	
	margin-top: 10px;
}

.P1-char-wrap .CustomWrap h2, .P2-char-wrap .CustomWrap h2{
	margin-top: -7px;
}

.P1-char-wrap h2, .P2-char-wrap h2{
	font-size: 13px;
	font-weight: 100;
	margin-top: 5px;
	position: relative;
	top: 4px;
}

#character-list td{
	padding: 4px;
}

#character-list td div{
	transform: scale(1);
}