#P1Main1 div, #P1Main2 div, #P2Main1 div, #P2Main2 div{
	margin-top: 12px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.PlayerOneCharacter div, .PlayerTwoCharacter div{
	margin-top: 11px;
	margin-left: 11px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

.stock-count li {
    padding: 9px 2px 9px 2px;
    line-height: 26px;
}

.game-info li div{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}

#character-list td{
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}