@import "_reset.scss";

body {
	background-color: rgb(80, 88, 106);
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	text-align: center;
	border: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	color: white;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	border: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 3px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	color: white;
	text-align: center;
	text-align-last: center;	
}

option {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	background-color: rgb(27, 27, 27);
}
