.logo {
	text-decoration: none;
	h1 {
		margin: 0 auto;
		margin-left: 30px;
		margin-top: 20px;
		font-family: "Merriweather", serif;
		font-style: italic;
		color: white;
		font-size: 55px;
		text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
		position: relative;
		bottom: -7px;
	}
}

.links a {
	display: block;
}

.mainSection {
	display: flex;
	flex-direction: column;
	min-width: 1040px;
	padding: 30px;
	margin-bottom: 45px;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 4px;
}