/*Comment Flairs (Needed for TournamentTabler)*/

a[href="#S64CaptainFalcon"],
a[href="#S64DonkeyKong"],
a[href="#S64Fox"],
a[href="#S64Jigglypuff"],
a[href="#S64Kirby"],
a[href="#S64Link"],
a[href="#S64Luigi"],
a[href="#S64Mario"],
a[href="#S64Ness"],
a[href="#S64Pikachu"],
a[href="#S64Samus"],
a[href="#S64Yoshi"],
a[href="#BrawlBowser"], a[href="#PmBowser"],
a[href="#BrawlCaptainFalcon"], a[href="#PmCaptainFalcon"],
a[href="#BrawlCharizard"], a[href="#PmCharizard"],
a[href="#BrawlDiddyKong"], a[href="#PmDiddyKong"],
a[href="#BrawlDonkeyKong"], a[href="#PmDonkeyKong"],
a[href="#BrawlFalco"], a[href="#PmFalco"],
a[href="#BrawlFox"], a[href="#PmFox"],
a[href="#BrawlGanondorf"], a[href="#PmGanondorf"],
a[href="#BrawlIceClimbers"], a[href="#PmIceClimbers"],
a[href="#BrawlIke"], a[href="#PmIke"],
a[href="#BrawlIvysaur"], a[href="#PmIvysaur"],
a[href="#BrawlJigglypuff"], a[href="#PmJigglypuff"],
a[href="#BrawlKingDeDeDe"], a[href="#PmKingDeDeDe"],
a[href="#BrawlKirby"], a[href="#PmKirby"],
a[href="#BrawlLink"], a[href="#PmLink"],
a[href="#BrawlLucario"], a[href="#PmLucario"],
a[href="#BrawlLucas"], a[href="#PmLucas"],
a[href="#BrawlLuigi"], a[href="#PmLuigi"],
a[href="#BrawlMario"], a[href="#PmMario"],
a[href="#BrawlMarth"], a[href="#PmMarth"],
a[href="#BrawlMetaKnight"], a[href="#PmMetaKnight"],
a[href="#BrawlMewtwo"], a[href="#PmMewtwo"],
a[href="#BrawlMrGameAndWatch"], a[href="#PmMrGameAndWatch"],
a[href="#BrawlNess"], a[href="#PmNess"],
a[href="#BrawlOlimar"], a[href="#PmOlimar"],
a[href="#BrawlPeach"], a[href="#PmPeach"],
a[href="#BrawlPikachu"], a[href="#PmPikachu"],
a[href="#BrawlPit"], a[href="#PmPit"],
a[href="#BrawlROB"], a[href="#PmROB"],
a[href="#BrawlRoy"], a[href="#PmRoy"],
a[href="#BrawlSamus"], a[href="#PmSamus"],
a[href="#BrawlSheik"], a[href="#PmSheik"],
a[href="#BrawlSnake"], a[href="#PmSnake"],
a[href="#BrawlSonic"], a[href="#PmSonic"],
a[href="#BrawlSquirtle"], a[href="#PmSquirtle"],
a[href="#BrawlToonLink"], a[href="#PmToonLink"],
a[href="#BrawlWario"], a[href="#PmWario"],
a[href="#BrawlWolf"], a[href="#PmWolf"],
a[href="#BrawlYoshi"], a[href="#PmYoshi"],
a[href="#BrawlZelda"], a[href="#PmZelda"],
a[href="#BrawlZeroSuitSamus"], a[href="#PmZeroSuitSamus"],
a[href="#MeleeBowser"], a[href="/Bowser"],
a[href="#MeleeCaptainFalcon"], a[href="/CF"],
a[href="#MeleeDonkeyKong"], a[href="/DK"],
a[href="#MeleeDrMario"], a[href="/DrMario"],
a[href="#MeleeFalco"], a[href="/Falco"],
a[href="#MeleeFox"], a[href="/Fox"],
a[href="#MeleeGanondorf"], a[href="/Ganon"],
a[href="#MeleeIceClimbers"], a[href="/Icies"],
a[href="#MeleeJigglypuff"], a[href="/Puff"],
a[href="#MeleeKirby"], a[href="/Kirby"],
a[href="#MeleeLink"], a[href="/Link"],
a[href="#MeleeLuigi"], a[href="/Luigi"],
a[href="#MeleeMario"], a[href="/Mario"],
a[href="#MeleeMarth"], a[href="/Marth"],
a[href="#MeleeMewtwo"], a[href="/Mewtwo"],
a[href="#MeleeMrGameAndWatch"], a[href="/GNW"],
a[href="#MeleeNess"], a[href="/Ness"],
a[href="#MeleePeach"], a[href="/Peach"],
a[href="#MeleePichu"], a[href="/Pichu"],
a[href="#MeleePikachu"], a[href="/Pikachu"],
a[href="#MeleeRoy"], a[href="/Roy"],
a[href="#MeleeSamus"], a[href="/Samus"],
a[href="#MeleeSheik"], a[href="/Sheik"],
a[href="#MeleeYoshi"], a[href="/Yoshi"],
a[href="#MeleeYoungLink"], a[href="/YL"],
a[href="#MeleeZelda"], a[href="/Zelda"],
a[href="#Sm4shAlph"],
a[href="#Sm4shBowser"],
a[href="#Sm4shBowserJr"],
a[href="#Sm4shCaptainFalcon"],
a[href="#Sm4shCharizard"],
a[href="#Sm4shDarkPit"],
a[href="#Sm4shDiddyKong"], a[href="#Sm4shDiddy"],
a[href="#Sm4shDonkeyKong"],
a[href="#Sm4shDrMario"],
a[href="#Sm4shDuckHunt"],
a[href="#Sm4shFalco"],
a[href="#Sm4shFemaleRobin"],
a[href="#Sm4shFemaleVillager"],
a[href="#Sm4shFemaleWiiFitTrainer"],
a[href="#Sm4shFox"],
a[href="#Sm4shGanondorf"],
a[href="#Sm4shGreninja"],
a[href="#Sm4shIggy"],
a[href="#Sm4shIke"],
a[href="#Sm4shJigglypuff"],
a[href="#Sm4shKingDeDeDe"],
a[href="#Sm4shKirby"],
a[href="#Sm4shLarry"],
a[href="#Sm4shLemmy"],
a[href="#Sm4shLink"],
a[href="#Sm4shLittleMac"],
a[href="#Sm4shLucario"],
a[href="#Sm4shLucas"],
a[href="#Sm4shLucina"],
a[href="#Sm4shLudwig"],
a[href="#Sm4shLuigi"],
a[href="#Sm4shMaleRobin"],
a[href="#Sm4shMaleVillager"],
a[href="#Sm4shMaleWiiFitTrainer"],
a[href="#Sm4shMario"],
a[href="#Sm4shMarth"],
a[href="#Sm4shMegaman"],
a[href="#Sm4shMetaKnight"],
a[href="#Sm4shMewtwo"],
a[href="#Sm4shMiiBrawler"],
a[href="#Sm4shMiiGunner"],
a[href="#Sm4shMiiSwordfighter"],
a[href="#Sm4shMorton"],
a[href="#Sm4shMrGameAndWatch"], a[href="#Sm4shMrG&W"],
a[href="#Sm4shNess"],
a[href="#Sm4shOlimar"],
a[href="#Sm4shPacman"],
a[href="#Sm4shPalutena"],
a[href="#Sm4shPeach"],
a[href="#Sm4shPikachu"],
a[href="#Sm4shPit"],
a[href="#Sm4shROB"],
a[href="#Sm4shRosalina"],
a[href="#Sm4shRoy"],
a[href="#Sm4shRoyKoopa"],
a[href="#Sm4shRyu"],
a[href="#Sm4shSamus"],
a[href="#Sm4shSheik"],
a[href="#Sm4shShulk"],
a[href="#Sm4shSonic"],
a[href="#Sm4shToonLink"],
a[href="#Sm4shWario"],
a[href="#Sm4shWendy"],
a[href="#Sm4shYoshi"],
a[href="#Sm4shZelda"],
a[href="#Sm4shZeroSuitSamus"], a[href="#Sm4shZSSamus"] {
    background-image: url("//b.thumbs.redditmedia.com/b9etWNOfyqZQ11udAADSqzpEyKGGsGxYvPA4sbHEOPM.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

a[href="#S64CaptainFalcon"] {
    width: 28px;
    height: 28px;
    background-position: 0 0;
}

a[href="#S64DonkeyKong"] {
    width: 28px;
    height: 28px;
    background-position: -28px 0;
}

a[href="#S64Fox"] {
    width: 28px;
    height: 28px;
    background-position: -56px 0;
}

a[href="#S64Jigglypuff"] {
    width: 28px;
    height: 28px;
    background-position: -84px 0;
}

a[href="#S64Kirby"] {
    width: 28px;
    height: 28px;
    background-position: -112px 0;
}

a[href="#S64Link"] {
    width: 28px;
    height: 28px;
    background-position: -140px 0;
}

a[href="#S64Luigi"] {
    width: 28px;
    height: 28px;
    background-position: -168px 0;
}

a[href="#S64Mario"] {
    width: 28px;
    height: 28px;
    background-position: -196px 0;
}

a[href="#S64Ness"] {
    width: 28px;
    height: 28px;
    background-position: -224px 0;
}

a[href="#S64Pikachu"] {
    width: 28px;
    height: 28px;
    background-position: -252px 0;
}

a[href="#S64Samus"] {
    width: 28px;
    height: 28px;
    background-position: -280px 0;
}

a[href="#S64Yoshi"] {
    width: 28px;
    height: 28px;
    background-position: -308px 0;
}

a[href="#BrawlBowser"], a[href="#PmBowser"] {
    width: 28px;
    height: 28px;
    background-position: 0 -28px;
}

a[href="#BrawlCaptainFalcon"], a[href="#PmCaptainFalcon"] {
    width: 28px;
    height: 28px;
    background-position: -28px -28px;
}

a[href="#BrawlCharizard"], a[href="#PmCharizard"] {
    width: 28px;
    height: 28px;
    background-position: -56px -28px;
}

a[href="#BrawlDiddyKong"], a[href="#PmDiddyKong"] {
    width: 28px;
    height: 28px;
    background-position: -84px -28px;
}

a[href="#BrawlDonkeyKong"], a[href="#PmDonkeyKong"] {
    width: 28px;
    height: 28px;
    background-position: -112px -28px;
}

a[href="#BrawlFalco"], a[href="#PmFalco"] {
    width: 28px;
    height: 28px;
    background-position: -140px -28px;
}

a[href="#BrawlFox"], a[href="#PmFox"] {
    width: 28px;
    height: 28px;
    background-position: -168px -28px;
}

a[href="#BrawlGanondorf"], a[href="#PmGanondorf"] {
    width: 28px;
    height: 28px;
    background-position: -196px -28px;
}

a[href="#BrawlIceClimbers"], a[href="#PmIceClimbers"] {
    width: 28px;
    height: 28px;
    background-position: -224px -28px;
}

a[href="#BrawlIke"], a[href="#PmIke"] {
    width: 28px;
    height: 28px;
    background-position: -252px -28px;
}

a[href="#BrawlIvysaur"], a[href="#PmIvysaur"] {
    width: 28px;
    height: 28px;
    background-position: -280px -28px;
}

a[href="#BrawlJigglypuff"], a[href="#PmJigglypuff"] {
    width: 28px;
    height: 28px;
    background-position: -308px -28px;
}

a[href="#BrawlKingDeDeDe"], a[href="#PmKingDeDeDe"] {
    width: 28px;
    height: 28px;
    background-position: 0 -56px;
}

a[href="#BrawlKirby"], a[href="#PmKirby"] {
    width: 28px;
    height: 28px;
    background-position: -28px -56px;
}

a[href="#BrawlLink"], a[href="#PmLink"] {
    width: 28px;
    height: 28px;
    background-position: -56px -56px;
}

a[href="#BrawlLucario"], a[href="#PmLucario"] {
    width: 28px;
    height: 28px;
    background-position: -84px -56px;
}

a[href="#BrawlLucas"], a[href="#PmLucas"] {
    width: 28px;
    height: 28px;
    background-position: -112px -56px;
}

a[href="#BrawlLuigi"], a[href="#PmLuigi"] {
    width: 28px;
    height: 28px;
    background-position: -140px -56px;
}

a[href="#BrawlMario"], a[href="#PmMario"] {
    width: 28px;
    height: 28px;
    background-position: -168px -56px;
}

a[href="#BrawlMarth"], a[href="#PmMarth"] {
    width: 28px;
    height: 28px;
    background-position: -196px -56px;
}

a[href="#BrawlMetaKnight"], a[href="#PmMetaKnight"] {
    width: 28px;
    height: 28px;
    background-position: -224px -56px;
}

a[href="#BrawlMewtwo"], a[href="#PmMewtwo"] {
    width: 28px;
    height: 28px;
    background-position: -252px -56px;
}

a[href="#BrawlMrGameAndWatch"], a[href="#PmMrGameAndWatch"] {
    width: 28px;
    height: 28px;
    background-position: -280px -56px;
}

a[href="#BrawlNess"], a[href="#PmNess"] {
    width: 28px;
    height: 28px;
    background-position: -308px -56px;
}

a[href="#BrawlOlimar"], a[href="#PmOlimar"] {
    width: 28px;
    height: 28px;
    background-position: 0 -84px;
}

a[href="#BrawlPeach"], a[href="#PmPeach"] {
    width: 28px;
    height: 28px;
    background-position: -28px -84px;
}

a[href="#BrawlPikachu"], a[href="#PmPikachu"] {
    width: 28px;
    height: 28px;
    background-position: -56px -84px;
}

a[href="#BrawlPit"], a[href="#PmPit"] {
    width: 28px;
    height: 28px;
    background-position: -84px -84px;
}

a[href="#BrawlROB"], a[href="#PmROB"] {
    width: 28px;
    height: 28px;
    background-position: -112px -84px;
}

a[href="#BrawlRoy"], a[href="#PmRoy"] {
    width: 28px;
    height: 28px;
    background-position: -140px -84px;
}

a[href="#BrawlSamus"], a[href="#PmSamus"] {
    width: 28px;
    height: 28px;
    background-position: -168px -84px;
}

a[href="#BrawlSheik"], a[href="#PmSheik"] {
    width: 28px;
    height: 28px;
    background-position: -196px -84px;
}

a[href="#BrawlSnake"], a[href="#PmSnake"] {
    width: 28px;
    height: 28px;
    background-position: -224px -84px;
}

a[href="#BrawlSonic"], a[href="#PmSonic"] {
    width: 28px;
    height: 28px;
    background-position: -252px -84px;
}

a[href="#BrawlSquirtle"], a[href="#PmSquirtle"] {
    width: 28px;
    height: 28px;
    background-position: -280px -84px;
}

a[href="#BrawlToonLink"], a[href="#PmToonLink"] {
    width: 28px;
    height: 28px;
    background-position: -308px -84px;
}

a[href="#BrawlWario"], a[href="#PmWario"] {
    width: 28px;
    height: 28px;
    background-position: 0 -112px;
}

a[href="#BrawlWolf"], a[href="#PmWolf"] {
    width: 28px;
    height: 28px;
    background-position: -28px -112px;
}

a[href="#BrawlYoshi"], a[href="#PmYoshi"] {
    width: 28px;
    height: 28px;
    background-position: -56px -112px;
}

a[href="#BrawlZelda"], a[href="#PmZelda"] {
    width: 28px;
    height: 28px;
    background-position: -84px -112px;
}

a[href="#BrawlZeroSuitSamus"], a[href="#PmZeroSuitSamus"] {
    width: 28px;
    height: 28px;
    background-position: -112px -112px;
}

a[href="#MeleeBowser"], a[href="/Bowser"] {
    width: 28px;
    height: 28px;
    background-position: -140px -112px;
}

a[href="#MeleeCaptainFalcon"], a[href="/CF"] {
    width: 28px;
    height: 28px;
    background-position: -168px -112px;
}

a[href="#MeleeDonkeyKong"], a[href="/DK"] {
    width: 28px;
    height: 28px;
    background-position: -196px -112px;
}

a[href="#MeleeDrMario"], a[href="/DrMario"] {
    width: 28px;
    height: 28px;
    background-position: -224px -112px;
}

a[href="#MeleeFalco"], a[href="/Falco"] {
    width: 28px;
    height: 28px;
    background-position: -252px -112px;
}

a[href="#MeleeFox"], a[href="/Fox"] {
    width: 28px;
    height: 28px;
    background-position: -280px -112px;
}

a[href="#MeleeGanondorf"], a[href="/Ganon"] {
    width: 28px;
    height: 28px;
    background-position: -308px -112px;
}

a[href="#MeleeIceClimbers"], a[href="/Icies"] {
    width: 28px;
    height: 28px;
    background-position: 0 -140px;
}

a[href="#MeleeJigglypuff"], a[href="/Puff"] {
    width: 28px;
    height: 28px;
    background-position: -28px -140px;
}

a[href="#MeleeKirby"], a[href="/Kirby"] {
    width: 28px;
    height: 28px;
    background-position: -56px -140px;
}

a[href="#MeleeLink"], a[href="/Link"] {
    width: 28px;
    height: 28px;
    background-position: -84px -140px;
}

a[href="#MeleeLuigi"], a[href="/Luigi"] {
    width: 28px;
    height: 28px;
    background-position: -112px -140px;
}

a[href="#MeleeMario"], a[href="/Mario"] {
    width: 28px;
    height: 28px;
    background-position: -140px -140px;
}

a[href="#MeleeMarth"], a[href="/Marth"] {
    width: 28px;
    height: 28px;
    background-position: -168px -140px;
}

a[href="#MeleeMewtwo"], a[href="/Mewtwo"] {
    width: 28px;
    height: 28px;
    background-position: -196px -140px;
}

a[href="#MeleeMrGameAndWatch"], a[href="/GNW"] {
    width: 28px;
    height: 28px;
    background-position: -224px -140px;
}

a[href="#MeleeNess"], a[href="/Ness"] {
    width: 28px;
    height: 28px;
    background-position: -252px -140px;
}

a[href="#MeleePeach"], a[href="/Peach"] {
    width: 28px;
    height: 28px;
    background-position: -280px -140px;
}

a[href="#MeleePichu"], a[href="/Pichu"] {
    width: 28px;
    height: 28px;
    background-position: -308px -140px;
}

a[href="#MeleePikachu"], a[href="/Pikachu"] {
    width: 28px;
    height: 28px;
    background-position: 0 -168px;
}

a[href="#MeleeRoy"], a[href="/Roy"] {
    width: 28px;
    height: 28px;
    background-position: -28px -168px;
}

a[href="#MeleeSamus"], a[href="/Samus"] {
    width: 28px;
    height: 28px;
    background-position: -56px -168px;
}

a[href="#MeleeSheik"], a[href="/Sheik"] {
    width: 28px;
    height: 28px;
    background-position: -84px -168px;
}

a[href="#MeleeYoshi"], a[href="/Yoshi"] {
    width: 28px;
    height: 28px;
    background-position: -112px -168px;
}

a[href="#MeleeYoungLink"], a[href="/YL"] {
    width: 28px;
    height: 28px;
    background-position: -140px -168px;
}

a[href="#MeleeZelda"], a[href="/Zelda"] {
    width: 28px;
    height: 28px;
    background-position: -168px -168px;
}

a[href="#Sm4shAlph"] {
    width: 28px;
    height: 28px;
    background-position: -196px -168px;
}

a[href="#Sm4shBowser"] {
    width: 28px;
    height: 28px;
    background-position: -224px -168px;
}

a[href="#Sm4shBowserJr"] {
    width: 28px;
    height: 28px;
    background-position: -252px -168px;
}

a[href="#Sm4shCaptainFalcon"] {
    width: 28px;
    height: 28px;
    background-position: -280px -168px;
}

a[href="#Sm4shCharizard"] {
    width: 28px;
    height: 28px;
    background-position: -308px -168px;
}

a[href="#Sm4shDarkPit"] {
    width: 28px;
    height: 28px;
    background-position: 0 -196px;
}

a[href="#Sm4shDiddyKong"], a[href="#Sm4shDiddy"] {
    width: 28px;
    height: 28px;
    background-position: -28px -196px;
}

a[href="#Sm4shDonkeyKong"] {
    width: 28px;
    height: 28px;
    background-position: -56px -196px;
}

a[href="#Sm4shDrMario"] {
    width: 28px;
    height: 28px;
    background-position: -84px -196px;
}

a[href="#Sm4shDuckHunt"] {
    width: 28px;
    height: 28px;
    background-position: -112px -196px;
}

a[href="#Sm4shFalco"] {
    width: 28px;
    height: 28px;
    background-position: -140px -196px;
}

a[href="#Sm4shFemaleRobin"] {
    width: 28px;
    height: 28px;
    background-position: -168px -196px;
}

a[href="#Sm4shFemaleVillager"] {
    width: 28px;
    height: 28px;
    background-position: -196px -196px;
}

a[href="#Sm4shFemaleWiiFitTrainer"] {
    width: 28px;
    height: 28px;
    background-position: -224px -196px;
}

a[href="#Sm4shFox"] {
    width: 28px;
    height: 28px;
    background-position: -252px -196px;
}

a[href="#Sm4shGanondorf"] {
    width: 28px;
    height: 28px;
    background-position: -280px -196px;
}

a[href="#Sm4shGreninja"] {
    width: 28px;
    height: 28px;
    background-position: -308px -196px;
}

a[href="#Sm4shIggy"] {
    width: 28px;
    height: 28px;
    background-position: 0 -224px;
}

a[href="#Sm4shIke"] {
    width: 28px;
    height: 28px;
    background-position: -28px -224px;
}

a[href="#Sm4shJigglypuff"] {
    width: 28px;
    height: 28px;
    background-position: -56px -224px;
}

a[href="#Sm4shKingDeDeDe"] {
    width: 28px;
    height: 28px;
    background-position: -84px -224px;
}

a[href="#Sm4shKirby"] {
    width: 28px;
    height: 28px;
    background-position: -112px -224px;
}

a[href="#Sm4shLarry"] {
    width: 28px;
    height: 28px;
    background-position: -140px -224px;
}

a[href="#Sm4shLemmy"] {
    width: 28px;
    height: 28px;
    background-position: -168px -224px;
}

a[href="#Sm4shLink"] {
    width: 28px;
    height: 28px;
    background-position: -196px -224px;
}

a[href="#Sm4shLittleMac"] {
    width: 28px;
    height: 28px;
    background-position: -224px -224px;
}

a[href="#Sm4shLucario"] {
    width: 28px;
    height: 28px;
    background-position: -252px -224px;
}

a[href="#Sm4shLucas"] {
    width: 28px;
    height: 28px;
    background-position: -280px -224px;
}

a[href="#Sm4shLucina"] {
    width: 28px;
    height: 28px;
    background-position: -308px -224px;
}

a[href="#Sm4shLudwig"] {
    width: 28px;
    height: 28px;
    background-position: 0 -252px;
}

a[href="#Sm4shLuigi"] {
    width: 28px;
    height: 28px;
    background-position: -28px -252px;
}

a[href="#Sm4shMaleRobin"] {
    width: 28px;
    height: 28px;
    background-position: -56px -252px;
}

a[href="#Sm4shMaleVillager"] {
    width: 28px;
    height: 28px;
    background-position: -84px -252px;
}

a[href="#Sm4shMaleWiiFitTrainer"] {
    width: 28px;
    height: 28px;
    background-position: -112px -252px;
}

a[href="#Sm4shMario"] {
    width: 28px;
    height: 28px;
    background-position: -140px -252px;
}

a[href="#Sm4shMarth"] {
    width: 28px;
    height: 28px;
    background-position: -168px -252px;
}

a[href="#Sm4shMegaman"] {
    width: 28px;
    height: 28px;
    background-position: -196px -252px;
}

a[href="#Sm4shMetaKnight"] {
    width: 28px;
    height: 28px;
    background-position: -224px -252px;
}

a[href="#Sm4shMewtwo"] {
    width: 28px;
    height: 28px;
    background-position: -252px -252px;
}

a[href="#Sm4shMiiBrawler"] {
    width: 28px;
    height: 28px;
    background-position: -280px -252px;
}

a[href="#Sm4shMiiGunner"] {
    width: 28px;
    height: 28px;
    background-position: -308px -252px;
}

a[href="#Sm4shMiiSwordfighter"] {
    width: 28px;
    height: 28px;
    background-position: 0 -280px;
}

a[href="#Sm4shMorton"] {
    width: 28px;
    height: 28px;
    background-position: -28px -280px;
}

a[href="#Sm4shMrGameAndWatch"], a[href="#Sm4shMrG&W"] {
    width: 28px;
    height: 28px;
    background-position: -56px -280px;
}

a[href="#Sm4shNess"] {
    width: 28px;
    height: 28px;
    background-position: -84px -280px;
}

a[href="#Sm4shOlimar"] {
    width: 28px;
    height: 28px;
    background-position: -112px -280px;
}

a[href="#Sm4shPacman"] {
    width: 28px;
    height: 28px;
    background-position: -140px -280px;
}

a[href="#Sm4shPalutena"] {
    width: 28px;
    height: 28px;
    background-position: -168px -280px;
}

a[href="#Sm4shPeach"] {
    width: 28px;
    height: 28px;
    background-position: -196px -280px;
}

a[href="#Sm4shPikachu"] {
    width: 28px;
    height: 28px;
    background-position: -224px -280px;
}

a[href="#Sm4shPit"] {
    width: 28px;
    height: 28px;
    background-position: -252px -280px;
}

a[href="#Sm4shROB"] {
    width: 28px;
    height: 28px;
    background-position: -280px -280px;
}

a[href="#Sm4shRosalina"] {
    width: 28px;
    height: 28px;
    background-position: -308px -280px;
}

a[href="#Sm4shRoy"] {
    width: 28px;
    height: 28px;
    background-position: 0 -308px;
}

a[href="#Sm4shRoyKoopa"] {
    width: 28px;
    height: 28px;
    background-position: -28px -308px;
}

a[href="#Sm4shRyu"] {
    width: 28px;
    height: 28px;
    background-position: -56px -308px;
}

a[href="#Sm4shSamus"] {
    width: 28px;
    height: 28px;
    background-position: -84px -308px;
}

a[href="#Sm4shSheik"] {
    width: 28px;
    height: 28px;
    background-position: -112px -308px;
}

a[href="#Sm4shShulk"] {
    width: 28px;
    height: 28px;
    background-position: -140px -308px;
}

a[href="#Sm4shSonic"] {
    width: 28px;
    height: 28px;
    background-position: -168px -308px;
}

a[href="#Sm4shToonLink"] {
    width: 28px;
    height: 28px;
    background-position: -196px -308px;
}

a[href="#Sm4shWario"] {
    width: 28px;
    height: 28px;
    background-position: -224px -308px;
}

a[href="#Sm4shWendy"] {
    width: 28px;
    height: 28px;
    background-position: -252px -308px;
}

a[href="#Sm4shYoshi"] {
    width: 28px;
    height: 28px;
    background-position: -280px -308px;
}

a[href="#Sm4shZelda"] {
    width: 28px;
    height: 28px;
    background-position: -308px -308px;
}

a[href="#Sm4shZeroSuitSamus"], a[href="#Sm4shZSSamus"] {
    width: 28px;
    height: 28px;
    background-position: -336px 0;
}
