.toastContainer {
	position: fixed;
	padding: 20px;
	bottom: 0;
	left: 0;
	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

.toast {
	display: flex;
	align-items: center;
	height: 56px;
	background-color: black;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.45);
	color: white;
	padding: 20px 15px;
	margin-bottom: 10px;
	border-radius: 4px;
	transition: 500ms;
}

.undoBtn {
	color: #a3c4fc;
	background-color: transparent;
	margin-left: 12px;
	margin-right: -10px;
	padding: 13px;
	outline: 0;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px;
	transition: .3s;
	&:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.toastEnter {	
	opacity: 0;
	color: transparent;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}
.toastEnterActive {
	opacity: 1;
	color: white;
	max-height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;	
}
.toastExit {
	opacity: 1;
	color: white;
	max-height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.toastExitActive {
	opacity: 0;
	color: transparent;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
}
