.logo {
	margin: 0 auto;
	margin-left: 30px;
	margin-top: 20px;
	font-family: "Merriweather", serif;
	font-style: italic;
	color: white;
	font-size: 55px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
	position: relative;
	bottom: -7px;
}

.mainSection {
	display: flex;
	flex-direction: column;
	min-width: 1040px;
	padding: 30px;
	margin-bottom: 45px;
	background-color: rgba(0, 0, 0, 0.35);
	border-radius: 4px;
}

.setInfo {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	height: 600px;
	margin-bottom: 20px;
}

.btn {
	border: none;
	padding: 7px;
	color: white;
	margin: 0 auto;
	display: block;
	width: 200px;
	cursor: pointer;
	font-size: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	background-color: #1589d0;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	text-shadow: 1px 1px 2px black;
	transition: 0.3s;	
}
