.stockCountInput {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.15);
	border: 1px solid rgba(255, 255, 255, 0.75);
	border-radius: 3px;
	padding: 4px 0;
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		width: 40px;
		color: white;
		cursor: pointer;
	}
}

.blankCharacter {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	cursor: pointer;
	background-color: rgb(219, 104, 104);
	border: 3px solid rgb(153, 56, 56);
	box-sizing: border-box;
	border-radius: 100px;
}

