// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$-banjo-name: 'Banjo';
$-banjo-x: 0px;
$-banjo-y: 0px;
$-banjo-offset-x: 0px;
$-banjo-offset-y: 0px;
$-banjo-width: 40px;
$-banjo-height: 40px;
$-banjo-total-width: 360px;
$-banjo-total-height: 360px;
$-banjo-image: '~sprite.png';
$-banjo: (0px, 0px, 0px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Banjo', );
$-bayonetta-name: 'Bayonetta';
$-bayonetta-x: 40px;
$-bayonetta-y: 0px;
$-bayonetta-offset-x: -40px;
$-bayonetta-offset-y: 0px;
$-bayonetta-width: 40px;
$-bayonetta-height: 40px;
$-bayonetta-total-width: 360px;
$-bayonetta-total-height: 360px;
$-bayonetta-image: '~sprite.png';
$-bayonetta: (40px, 0px, -40px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Bayonetta', );
$-bowser-name: 'Bowser';
$-bowser-x: 0px;
$-bowser-y: 40px;
$-bowser-offset-x: 0px;
$-bowser-offset-y: -40px;
$-bowser-width: 40px;
$-bowser-height: 40px;
$-bowser-total-width: 360px;
$-bowser-total-height: 360px;
$-bowser-image: '~sprite.png';
$-bowser: (0px, 40px, 0px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Bowser', );
$-bowser-jr-name: 'BowserJr';
$-bowser-jr-x: 40px;
$-bowser-jr-y: 40px;
$-bowser-jr-offset-x: -40px;
$-bowser-jr-offset-y: -40px;
$-bowser-jr-width: 40px;
$-bowser-jr-height: 40px;
$-bowser-jr-total-width: 360px;
$-bowser-jr-total-height: 360px;
$-bowser-jr-image: '~sprite.png';
$-bowser-jr: (40px, 40px, -40px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'BowserJr', );
$-captain-falcon-name: 'CaptainFalcon';
$-captain-falcon-x: 80px;
$-captain-falcon-y: 0px;
$-captain-falcon-offset-x: -80px;
$-captain-falcon-offset-y: 0px;
$-captain-falcon-width: 40px;
$-captain-falcon-height: 40px;
$-captain-falcon-total-width: 360px;
$-captain-falcon-total-height: 360px;
$-captain-falcon-image: '~sprite.png';
$-captain-falcon: (80px, 0px, -80px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'CaptainFalcon', );
$-chrom-name: 'Chrom';
$-chrom-x: 80px;
$-chrom-y: 40px;
$-chrom-offset-x: -80px;
$-chrom-offset-y: -40px;
$-chrom-width: 40px;
$-chrom-height: 40px;
$-chrom-total-width: 360px;
$-chrom-total-height: 360px;
$-chrom-image: '~sprite.png';
$-chrom: (80px, 40px, -80px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Chrom', );
$-cloud-name: 'Cloud';
$-cloud-x: 0px;
$-cloud-y: 80px;
$-cloud-offset-x: 0px;
$-cloud-offset-y: -80px;
$-cloud-width: 40px;
$-cloud-height: 40px;
$-cloud-total-width: 360px;
$-cloud-total-height: 360px;
$-cloud-image: '~sprite.png';
$-cloud: (0px, 80px, 0px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Cloud', );
$-corrin-name: 'Corrin';
$-corrin-x: 40px;
$-corrin-y: 80px;
$-corrin-offset-x: -40px;
$-corrin-offset-y: -80px;
$-corrin-width: 40px;
$-corrin-height: 40px;
$-corrin-total-width: 360px;
$-corrin-total-height: 360px;
$-corrin-image: '~sprite.png';
$-corrin: (40px, 80px, -40px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Corrin', );
$-daisy-name: 'Daisy';
$-daisy-x: 80px;
$-daisy-y: 80px;
$-daisy-offset-x: -80px;
$-daisy-offset-y: -80px;
$-daisy-width: 40px;
$-daisy-height: 40px;
$-daisy-total-width: 360px;
$-daisy-total-height: 360px;
$-daisy-image: '~sprite.png';
$-daisy: (80px, 80px, -80px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Daisy', );
$-dark-pit-name: 'DarkPit';
$-dark-pit-x: 120px;
$-dark-pit-y: 0px;
$-dark-pit-offset-x: -120px;
$-dark-pit-offset-y: 0px;
$-dark-pit-width: 40px;
$-dark-pit-height: 40px;
$-dark-pit-total-width: 360px;
$-dark-pit-total-height: 360px;
$-dark-pit-image: '~sprite.png';
$-dark-pit: (120px, 0px, -120px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'DarkPit', );
$-dark-samus-name: 'DarkSamus';
$-dark-samus-x: 120px;
$-dark-samus-y: 40px;
$-dark-samus-offset-x: -120px;
$-dark-samus-offset-y: -40px;
$-dark-samus-width: 40px;
$-dark-samus-height: 40px;
$-dark-samus-total-width: 360px;
$-dark-samus-total-height: 360px;
$-dark-samus-image: '~sprite.png';
$-dark-samus: (120px, 40px, -120px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'DarkSamus', );
$-diddy-kong-name: 'DiddyKong';
$-diddy-kong-x: 120px;
$-diddy-kong-y: 80px;
$-diddy-kong-offset-x: -120px;
$-diddy-kong-offset-y: -80px;
$-diddy-kong-width: 40px;
$-diddy-kong-height: 40px;
$-diddy-kong-total-width: 360px;
$-diddy-kong-total-height: 360px;
$-diddy-kong-image: '~sprite.png';
$-diddy-kong: (120px, 80px, -120px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'DiddyKong', );
$-donkey-kong-name: 'DonkeyKong';
$-donkey-kong-x: 0px;
$-donkey-kong-y: 120px;
$-donkey-kong-offset-x: 0px;
$-donkey-kong-offset-y: -120px;
$-donkey-kong-width: 40px;
$-donkey-kong-height: 40px;
$-donkey-kong-total-width: 360px;
$-donkey-kong-total-height: 360px;
$-donkey-kong-image: '~sprite.png';
$-donkey-kong: (0px, 120px, 0px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'DonkeyKong', );
$-dr-mario-name: 'DrMario';
$-dr-mario-x: 40px;
$-dr-mario-y: 120px;
$-dr-mario-offset-x: -40px;
$-dr-mario-offset-y: -120px;
$-dr-mario-width: 40px;
$-dr-mario-height: 40px;
$-dr-mario-total-width: 360px;
$-dr-mario-total-height: 360px;
$-dr-mario-image: '~sprite.png';
$-dr-mario: (40px, 120px, -40px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'DrMario', );
$-duck-hunt-name: 'DuckHunt';
$-duck-hunt-x: 80px;
$-duck-hunt-y: 120px;
$-duck-hunt-offset-x: -80px;
$-duck-hunt-offset-y: -120px;
$-duck-hunt-width: 40px;
$-duck-hunt-height: 40px;
$-duck-hunt-total-width: 360px;
$-duck-hunt-total-height: 360px;
$-duck-hunt-image: '~sprite.png';
$-duck-hunt: (80px, 120px, -80px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'DuckHunt', );
$-falco-name: 'Falco';
$-falco-x: 120px;
$-falco-y: 120px;
$-falco-offset-x: -120px;
$-falco-offset-y: -120px;
$-falco-width: 40px;
$-falco-height: 40px;
$-falco-total-width: 360px;
$-falco-total-height: 360px;
$-falco-image: '~sprite.png';
$-falco: (120px, 120px, -120px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'Falco', );
$-fox-name: 'Fox';
$-fox-x: 160px;
$-fox-y: 0px;
$-fox-offset-x: -160px;
$-fox-offset-y: 0px;
$-fox-width: 40px;
$-fox-height: 40px;
$-fox-total-width: 360px;
$-fox-total-height: 360px;
$-fox-image: '~sprite.png';
$-fox: (160px, 0px, -160px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Fox', );
$-ganondorf-name: 'Ganondorf';
$-ganondorf-x: 160px;
$-ganondorf-y: 40px;
$-ganondorf-offset-x: -160px;
$-ganondorf-offset-y: -40px;
$-ganondorf-width: 40px;
$-ganondorf-height: 40px;
$-ganondorf-total-width: 360px;
$-ganondorf-total-height: 360px;
$-ganondorf-image: '~sprite.png';
$-ganondorf: (160px, 40px, -160px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Ganondorf', );
$-greninja-name: 'Greninja';
$-greninja-x: 160px;
$-greninja-y: 80px;
$-greninja-offset-x: -160px;
$-greninja-offset-y: -80px;
$-greninja-width: 40px;
$-greninja-height: 40px;
$-greninja-total-width: 360px;
$-greninja-total-height: 360px;
$-greninja-image: '~sprite.png';
$-greninja: (160px, 80px, -160px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Greninja', );
$-hero-name: 'Hero';
$-hero-x: 160px;
$-hero-y: 120px;
$-hero-offset-x: -160px;
$-hero-offset-y: -120px;
$-hero-width: 40px;
$-hero-height: 40px;
$-hero-total-width: 360px;
$-hero-total-height: 360px;
$-hero-image: '~sprite.png';
$-hero: (160px, 120px, -160px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'Hero', );
$-ice-climbers-name: 'IceClimbers';
$-ice-climbers-x: 0px;
$-ice-climbers-y: 160px;
$-ice-climbers-offset-x: 0px;
$-ice-climbers-offset-y: -160px;
$-ice-climbers-width: 40px;
$-ice-climbers-height: 40px;
$-ice-climbers-total-width: 360px;
$-ice-climbers-total-height: 360px;
$-ice-climbers-image: '~sprite.png';
$-ice-climbers: (0px, 160px, 0px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'IceClimbers', );
$-ike-name: 'Ike';
$-ike-x: 40px;
$-ike-y: 160px;
$-ike-offset-x: -40px;
$-ike-offset-y: -160px;
$-ike-width: 40px;
$-ike-height: 40px;
$-ike-total-width: 360px;
$-ike-total-height: 360px;
$-ike-image: '~sprite.png';
$-ike: (40px, 160px, -40px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'Ike', );
$-incineroar-name: 'Incineroar';
$-incineroar-x: 80px;
$-incineroar-y: 160px;
$-incineroar-offset-x: -80px;
$-incineroar-offset-y: -160px;
$-incineroar-width: 40px;
$-incineroar-height: 40px;
$-incineroar-total-width: 360px;
$-incineroar-total-height: 360px;
$-incineroar-image: '~sprite.png';
$-incineroar: (80px, 160px, -80px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'Incineroar', );
$-inkling-name: 'Inkling';
$-inkling-x: 120px;
$-inkling-y: 160px;
$-inkling-offset-x: -120px;
$-inkling-offset-y: -160px;
$-inkling-width: 40px;
$-inkling-height: 40px;
$-inkling-total-width: 360px;
$-inkling-total-height: 360px;
$-inkling-image: '~sprite.png';
$-inkling: (120px, 160px, -120px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'Inkling', );
$-isabelle-name: 'Isabelle';
$-isabelle-x: 160px;
$-isabelle-y: 160px;
$-isabelle-offset-x: -160px;
$-isabelle-offset-y: -160px;
$-isabelle-width: 40px;
$-isabelle-height: 40px;
$-isabelle-total-width: 360px;
$-isabelle-total-height: 360px;
$-isabelle-image: '~sprite.png';
$-isabelle: (160px, 160px, -160px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'Isabelle', );
$-jigglypuff-name: 'Jigglypuff';
$-jigglypuff-x: 200px;
$-jigglypuff-y: 0px;
$-jigglypuff-offset-x: -200px;
$-jigglypuff-offset-y: 0px;
$-jigglypuff-width: 40px;
$-jigglypuff-height: 40px;
$-jigglypuff-total-width: 360px;
$-jigglypuff-total-height: 360px;
$-jigglypuff-image: '~sprite.png';
$-jigglypuff: (200px, 0px, -200px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Jigglypuff', );
$-joker-name: 'Joker';
$-joker-x: 200px;
$-joker-y: 40px;
$-joker-offset-x: -200px;
$-joker-offset-y: -40px;
$-joker-width: 40px;
$-joker-height: 40px;
$-joker-total-width: 360px;
$-joker-total-height: 360px;
$-joker-image: '~sprite.png';
$-joker: (200px, 40px, -200px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Joker', );
$-ken-name: 'Ken';
$-ken-x: 200px;
$-ken-y: 80px;
$-ken-offset-x: -200px;
$-ken-offset-y: -80px;
$-ken-width: 40px;
$-ken-height: 40px;
$-ken-total-width: 360px;
$-ken-total-height: 360px;
$-ken-image: '~sprite.png';
$-ken: (200px, 80px, -200px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Ken', );
$-king-dedede-name: 'KingDedede';
$-king-dedede-x: 200px;
$-king-dedede-y: 120px;
$-king-dedede-offset-x: -200px;
$-king-dedede-offset-y: -120px;
$-king-dedede-width: 40px;
$-king-dedede-height: 40px;
$-king-dedede-total-width: 360px;
$-king-dedede-total-height: 360px;
$-king-dedede-image: '~sprite.png';
$-king-dedede: (200px, 120px, -200px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'KingDedede', );
$-king-k-rool-name: 'KingKRool';
$-king-k-rool-x: 200px;
$-king-k-rool-y: 160px;
$-king-k-rool-offset-x: -200px;
$-king-k-rool-offset-y: -160px;
$-king-k-rool-width: 40px;
$-king-k-rool-height: 40px;
$-king-k-rool-total-width: 360px;
$-king-k-rool-total-height: 360px;
$-king-k-rool-image: '~sprite.png';
$-king-k-rool: (200px, 160px, -200px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'KingKRool', );
$-kirby-name: 'Kirby';
$-kirby-x: 0px;
$-kirby-y: 200px;
$-kirby-offset-x: 0px;
$-kirby-offset-y: -200px;
$-kirby-width: 40px;
$-kirby-height: 40px;
$-kirby-total-width: 360px;
$-kirby-total-height: 360px;
$-kirby-image: '~sprite.png';
$-kirby: (0px, 200px, 0px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Kirby', );
$-link-name: 'Link';
$-link-x: 40px;
$-link-y: 200px;
$-link-offset-x: -40px;
$-link-offset-y: -200px;
$-link-width: 40px;
$-link-height: 40px;
$-link-total-width: 360px;
$-link-total-height: 360px;
$-link-image: '~sprite.png';
$-link: (40px, 200px, -40px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Link', );
$-little-mac-name: 'LittleMac';
$-little-mac-x: 80px;
$-little-mac-y: 200px;
$-little-mac-offset-x: -80px;
$-little-mac-offset-y: -200px;
$-little-mac-width: 40px;
$-little-mac-height: 40px;
$-little-mac-total-width: 360px;
$-little-mac-total-height: 360px;
$-little-mac-image: '~sprite.png';
$-little-mac: (80px, 200px, -80px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'LittleMac', );
$-lucario-name: 'Lucario';
$-lucario-x: 120px;
$-lucario-y: 200px;
$-lucario-offset-x: -120px;
$-lucario-offset-y: -200px;
$-lucario-width: 40px;
$-lucario-height: 40px;
$-lucario-total-width: 360px;
$-lucario-total-height: 360px;
$-lucario-image: '~sprite.png';
$-lucario: (120px, 200px, -120px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Lucario', );
$-lucas-name: 'Lucas';
$-lucas-x: 160px;
$-lucas-y: 200px;
$-lucas-offset-x: -160px;
$-lucas-offset-y: -200px;
$-lucas-width: 40px;
$-lucas-height: 40px;
$-lucas-total-width: 360px;
$-lucas-total-height: 360px;
$-lucas-image: '~sprite.png';
$-lucas: (160px, 200px, -160px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Lucas', );
$-lucina-name: 'Lucina';
$-lucina-x: 200px;
$-lucina-y: 200px;
$-lucina-offset-x: -200px;
$-lucina-offset-y: -200px;
$-lucina-width: 40px;
$-lucina-height: 40px;
$-lucina-total-width: 360px;
$-lucina-total-height: 360px;
$-lucina-image: '~sprite.png';
$-lucina: (200px, 200px, -200px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Lucina', );
$-luigi-name: 'Luigi';
$-luigi-x: 240px;
$-luigi-y: 0px;
$-luigi-offset-x: -240px;
$-luigi-offset-y: 0px;
$-luigi-width: 40px;
$-luigi-height: 40px;
$-luigi-total-width: 360px;
$-luigi-total-height: 360px;
$-luigi-image: '~sprite.png';
$-luigi: (240px, 0px, -240px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Luigi', );
$-mario-name: 'Mario';
$-mario-x: 240px;
$-mario-y: 40px;
$-mario-offset-x: -240px;
$-mario-offset-y: -40px;
$-mario-width: 40px;
$-mario-height: 40px;
$-mario-total-width: 360px;
$-mario-total-height: 360px;
$-mario-image: '~sprite.png';
$-mario: (240px, 40px, -240px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Mario', );
$-marth-name: 'Marth';
$-marth-x: 240px;
$-marth-y: 80px;
$-marth-offset-x: -240px;
$-marth-offset-y: -80px;
$-marth-width: 40px;
$-marth-height: 40px;
$-marth-total-width: 360px;
$-marth-total-height: 360px;
$-marth-image: '~sprite.png';
$-marth: (240px, 80px, -240px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Marth', );
$-mega-man-name: 'MegaMan';
$-mega-man-x: 240px;
$-mega-man-y: 120px;
$-mega-man-offset-x: -240px;
$-mega-man-offset-y: -120px;
$-mega-man-width: 40px;
$-mega-man-height: 40px;
$-mega-man-total-width: 360px;
$-mega-man-total-height: 360px;
$-mega-man-image: '~sprite.png';
$-mega-man: (240px, 120px, -240px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'MegaMan', );
$-meta-knight-name: 'MetaKnight';
$-meta-knight-x: 240px;
$-meta-knight-y: 160px;
$-meta-knight-offset-x: -240px;
$-meta-knight-offset-y: -160px;
$-meta-knight-width: 40px;
$-meta-knight-height: 40px;
$-meta-knight-total-width: 360px;
$-meta-knight-total-height: 360px;
$-meta-knight-image: '~sprite.png';
$-meta-knight: (240px, 160px, -240px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'MetaKnight', );
$-mewtwo-name: 'Mewtwo';
$-mewtwo-x: 240px;
$-mewtwo-y: 200px;
$-mewtwo-offset-x: -240px;
$-mewtwo-offset-y: -200px;
$-mewtwo-width: 40px;
$-mewtwo-height: 40px;
$-mewtwo-total-width: 360px;
$-mewtwo-total-height: 360px;
$-mewtwo-image: '~sprite.png';
$-mewtwo: (240px, 200px, -240px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Mewtwo', );
$-mii-fighter-name: 'MiiFighter';
$-mii-fighter-x: 0px;
$-mii-fighter-y: 240px;
$-mii-fighter-offset-x: 0px;
$-mii-fighter-offset-y: -240px;
$-mii-fighter-width: 40px;
$-mii-fighter-height: 40px;
$-mii-fighter-total-width: 360px;
$-mii-fighter-total-height: 360px;
$-mii-fighter-image: '~sprite.png';
$-mii-fighter: (0px, 240px, 0px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'MiiFighter', );
$-mr-game-and-watch-name: 'MrGameAndWatch';
$-mr-game-and-watch-x: 40px;
$-mr-game-and-watch-y: 240px;
$-mr-game-and-watch-offset-x: -40px;
$-mr-game-and-watch-offset-y: -240px;
$-mr-game-and-watch-width: 40px;
$-mr-game-and-watch-height: 40px;
$-mr-game-and-watch-total-width: 360px;
$-mr-game-and-watch-total-height: 360px;
$-mr-game-and-watch-image: '~sprite.png';
$-mr-game-and-watch: (40px, 240px, -40px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'MrGameAndWatch', );
$-ness-name: 'Ness';
$-ness-x: 80px;
$-ness-y: 240px;
$-ness-offset-x: -80px;
$-ness-offset-y: -240px;
$-ness-width: 40px;
$-ness-height: 40px;
$-ness-total-width: 360px;
$-ness-total-height: 360px;
$-ness-image: '~sprite.png';
$-ness: (80px, 240px, -80px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Ness', );
$-olimar-name: 'Olimar';
$-olimar-x: 120px;
$-olimar-y: 240px;
$-olimar-offset-x: -120px;
$-olimar-offset-y: -240px;
$-olimar-width: 40px;
$-olimar-height: 40px;
$-olimar-total-width: 360px;
$-olimar-total-height: 360px;
$-olimar-image: '~sprite.png';
$-olimar: (120px, 240px, -120px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Olimar', );
$-pacman-name: 'Pacman';
$-pacman-x: 160px;
$-pacman-y: 240px;
$-pacman-offset-x: -160px;
$-pacman-offset-y: -240px;
$-pacman-width: 40px;
$-pacman-height: 40px;
$-pacman-total-width: 360px;
$-pacman-total-height: 360px;
$-pacman-image: '~sprite.png';
$-pacman: (160px, 240px, -160px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Pacman', );
$-palutena-name: 'Palutena';
$-palutena-x: 200px;
$-palutena-y: 240px;
$-palutena-offset-x: -200px;
$-palutena-offset-y: -240px;
$-palutena-width: 40px;
$-palutena-height: 40px;
$-palutena-total-width: 360px;
$-palutena-total-height: 360px;
$-palutena-image: '~sprite.png';
$-palutena: (200px, 240px, -200px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Palutena', );
$-peach-name: 'Peach';
$-peach-x: 240px;
$-peach-y: 240px;
$-peach-offset-x: -240px;
$-peach-offset-y: -240px;
$-peach-width: 40px;
$-peach-height: 40px;
$-peach-total-width: 360px;
$-peach-total-height: 360px;
$-peach-image: '~sprite.png';
$-peach: (240px, 240px, -240px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Peach', );
$-pichu-name: 'Pichu';
$-pichu-x: 280px;
$-pichu-y: 0px;
$-pichu-offset-x: -280px;
$-pichu-offset-y: 0px;
$-pichu-width: 40px;
$-pichu-height: 40px;
$-pichu-total-width: 360px;
$-pichu-total-height: 360px;
$-pichu-image: '~sprite.png';
$-pichu: (280px, 0px, -280px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Pichu', );
$-pikachu-name: 'Pikachu';
$-pikachu-x: 280px;
$-pikachu-y: 40px;
$-pikachu-offset-x: -280px;
$-pikachu-offset-y: -40px;
$-pikachu-width: 40px;
$-pikachu-height: 40px;
$-pikachu-total-width: 360px;
$-pikachu-total-height: 360px;
$-pikachu-image: '~sprite.png';
$-pikachu: (280px, 40px, -280px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Pikachu', );
$-piranha-plant-name: 'PiranhaPlant';
$-piranha-plant-x: 280px;
$-piranha-plant-y: 80px;
$-piranha-plant-offset-x: -280px;
$-piranha-plant-offset-y: -80px;
$-piranha-plant-width: 40px;
$-piranha-plant-height: 40px;
$-piranha-plant-total-width: 360px;
$-piranha-plant-total-height: 360px;
$-piranha-plant-image: '~sprite.png';
$-piranha-plant: (280px, 80px, -280px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'PiranhaPlant', );
$-pit-name: 'Pit';
$-pit-x: 280px;
$-pit-y: 120px;
$-pit-offset-x: -280px;
$-pit-offset-y: -120px;
$-pit-width: 40px;
$-pit-height: 40px;
$-pit-total-width: 360px;
$-pit-total-height: 360px;
$-pit-image: '~sprite.png';
$-pit: (280px, 120px, -280px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'Pit', );
$-pokemon-trainer-name: 'PokemonTrainer';
$-pokemon-trainer-x: 280px;
$-pokemon-trainer-y: 160px;
$-pokemon-trainer-offset-x: -280px;
$-pokemon-trainer-offset-y: -160px;
$-pokemon-trainer-width: 40px;
$-pokemon-trainer-height: 40px;
$-pokemon-trainer-total-width: 360px;
$-pokemon-trainer-total-height: 360px;
$-pokemon-trainer-image: '~sprite.png';
$-pokemon-trainer: (280px, 160px, -280px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'PokemonTrainer', );
$-richter-name: 'Richter';
$-richter-x: 280px;
$-richter-y: 200px;
$-richter-offset-x: -280px;
$-richter-offset-y: -200px;
$-richter-width: 40px;
$-richter-height: 40px;
$-richter-total-width: 360px;
$-richter-total-height: 360px;
$-richter-image: '~sprite.png';
$-richter: (280px, 200px, -280px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Richter', );
$-ridley-name: 'Ridley';
$-ridley-x: 280px;
$-ridley-y: 240px;
$-ridley-offset-x: -280px;
$-ridley-offset-y: -240px;
$-ridley-width: 40px;
$-ridley-height: 40px;
$-ridley-total-width: 360px;
$-ridley-total-height: 360px;
$-ridley-image: '~sprite.png';
$-ridley: (280px, 240px, -280px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Ridley', );
$-r-o-b-name: 'ROB';
$-r-o-b-x: 0px;
$-r-o-b-y: 280px;
$-r-o-b-offset-x: 0px;
$-r-o-b-offset-y: -280px;
$-r-o-b-width: 40px;
$-r-o-b-height: 40px;
$-r-o-b-total-width: 360px;
$-r-o-b-total-height: 360px;
$-r-o-b-image: '~sprite.png';
$-r-o-b: (0px, 280px, 0px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'ROB', );
$-robin-name: 'Robin';
$-robin-x: 40px;
$-robin-y: 280px;
$-robin-offset-x: -40px;
$-robin-offset-y: -280px;
$-robin-width: 40px;
$-robin-height: 40px;
$-robin-total-width: 360px;
$-robin-total-height: 360px;
$-robin-image: '~sprite.png';
$-robin: (40px, 280px, -40px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Robin', );
$-rosalina-name: 'Rosalina';
$-rosalina-x: 80px;
$-rosalina-y: 280px;
$-rosalina-offset-x: -80px;
$-rosalina-offset-y: -280px;
$-rosalina-width: 40px;
$-rosalina-height: 40px;
$-rosalina-total-width: 360px;
$-rosalina-total-height: 360px;
$-rosalina-image: '~sprite.png';
$-rosalina: (80px, 280px, -80px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Rosalina', );
$-roy-name: 'Roy';
$-roy-x: 120px;
$-roy-y: 280px;
$-roy-offset-x: -120px;
$-roy-offset-y: -280px;
$-roy-width: 40px;
$-roy-height: 40px;
$-roy-total-width: 360px;
$-roy-total-height: 360px;
$-roy-image: '~sprite.png';
$-roy: (120px, 280px, -120px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Roy', );
$-ryu-name: 'Ryu';
$-ryu-x: 160px;
$-ryu-y: 280px;
$-ryu-offset-x: -160px;
$-ryu-offset-y: -280px;
$-ryu-width: 40px;
$-ryu-height: 40px;
$-ryu-total-width: 360px;
$-ryu-total-height: 360px;
$-ryu-image: '~sprite.png';
$-ryu: (160px, 280px, -160px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Ryu', );
$-samus-name: 'Samus';
$-samus-x: 200px;
$-samus-y: 280px;
$-samus-offset-x: -200px;
$-samus-offset-y: -280px;
$-samus-width: 40px;
$-samus-height: 40px;
$-samus-total-width: 360px;
$-samus-total-height: 360px;
$-samus-image: '~sprite.png';
$-samus: (200px, 280px, -200px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Samus', );
$-sheik-name: 'Sheik';
$-sheik-x: 240px;
$-sheik-y: 280px;
$-sheik-offset-x: -240px;
$-sheik-offset-y: -280px;
$-sheik-width: 40px;
$-sheik-height: 40px;
$-sheik-total-width: 360px;
$-sheik-total-height: 360px;
$-sheik-image: '~sprite.png';
$-sheik: (240px, 280px, -240px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Sheik', );
$-shulk-name: 'Shulk';
$-shulk-x: 280px;
$-shulk-y: 280px;
$-shulk-offset-x: -280px;
$-shulk-offset-y: -280px;
$-shulk-width: 40px;
$-shulk-height: 40px;
$-shulk-total-width: 360px;
$-shulk-total-height: 360px;
$-shulk-image: '~sprite.png';
$-shulk: (280px, 280px, -280px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'Shulk', );
$-simon-name: 'Simon';
$-simon-x: 320px;
$-simon-y: 0px;
$-simon-offset-x: -320px;
$-simon-offset-y: 0px;
$-simon-width: 40px;
$-simon-height: 40px;
$-simon-total-width: 360px;
$-simon-total-height: 360px;
$-simon-image: '~sprite.png';
$-simon: (320px, 0px, -320px, 0px, 40px, 40px, 360px, 360px, '~sprite.png', 'Simon', );
$-snake-name: 'Snake';
$-snake-x: 320px;
$-snake-y: 40px;
$-snake-offset-x: -320px;
$-snake-offset-y: -40px;
$-snake-width: 40px;
$-snake-height: 40px;
$-snake-total-width: 360px;
$-snake-total-height: 360px;
$-snake-image: '~sprite.png';
$-snake: (320px, 40px, -320px, -40px, 40px, 40px, 360px, 360px, '~sprite.png', 'Snake', );
$-sonic-name: 'Sonic';
$-sonic-x: 320px;
$-sonic-y: 80px;
$-sonic-offset-x: -320px;
$-sonic-offset-y: -80px;
$-sonic-width: 40px;
$-sonic-height: 40px;
$-sonic-total-width: 360px;
$-sonic-total-height: 360px;
$-sonic-image: '~sprite.png';
$-sonic: (320px, 80px, -320px, -80px, 40px, 40px, 360px, 360px, '~sprite.png', 'Sonic', );
$-terry-name: 'Terry';
$-terry-x: 320px;
$-terry-y: 120px;
$-terry-offset-x: -320px;
$-terry-offset-y: -120px;
$-terry-width: 40px;
$-terry-height: 40px;
$-terry-total-width: 360px;
$-terry-total-height: 360px;
$-terry-image: '~sprite.png';
$-terry: (320px, 120px, -320px, -120px, 40px, 40px, 360px, 360px, '~sprite.png', 'Terry', );
$-toon-link-name: 'ToonLink';
$-toon-link-x: 320px;
$-toon-link-y: 160px;
$-toon-link-offset-x: -320px;
$-toon-link-offset-y: -160px;
$-toon-link-width: 40px;
$-toon-link-height: 40px;
$-toon-link-total-width: 360px;
$-toon-link-total-height: 360px;
$-toon-link-image: '~sprite.png';
$-toon-link: (320px, 160px, -320px, -160px, 40px, 40px, 360px, 360px, '~sprite.png', 'ToonLink', );
$-villager-name: 'Villager';
$-villager-x: 320px;
$-villager-y: 200px;
$-villager-offset-x: -320px;
$-villager-offset-y: -200px;
$-villager-width: 40px;
$-villager-height: 40px;
$-villager-total-width: 360px;
$-villager-total-height: 360px;
$-villager-image: '~sprite.png';
$-villager: (320px, 200px, -320px, -200px, 40px, 40px, 360px, 360px, '~sprite.png', 'Villager', );
$-wario-name: 'Wario';
$-wario-x: 320px;
$-wario-y: 240px;
$-wario-offset-x: -320px;
$-wario-offset-y: -240px;
$-wario-width: 40px;
$-wario-height: 40px;
$-wario-total-width: 360px;
$-wario-total-height: 360px;
$-wario-image: '~sprite.png';
$-wario: (320px, 240px, -320px, -240px, 40px, 40px, 360px, 360px, '~sprite.png', 'Wario', );
$-wii-fit-trainer-name: 'WiiFitTrainer';
$-wii-fit-trainer-x: 320px;
$-wii-fit-trainer-y: 280px;
$-wii-fit-trainer-offset-x: -320px;
$-wii-fit-trainer-offset-y: -280px;
$-wii-fit-trainer-width: 40px;
$-wii-fit-trainer-height: 40px;
$-wii-fit-trainer-total-width: 360px;
$-wii-fit-trainer-total-height: 360px;
$-wii-fit-trainer-image: '~sprite.png';
$-wii-fit-trainer: (320px, 280px, -320px, -280px, 40px, 40px, 360px, 360px, '~sprite.png', 'WiiFitTrainer', );
$-wolf-name: 'Wolf';
$-wolf-x: 0px;
$-wolf-y: 320px;
$-wolf-offset-x: 0px;
$-wolf-offset-y: -320px;
$-wolf-width: 40px;
$-wolf-height: 40px;
$-wolf-total-width: 360px;
$-wolf-total-height: 360px;
$-wolf-image: '~sprite.png';
$-wolf: (0px, 320px, 0px, -320px, 40px, 40px, 360px, 360px, '~sprite.png', 'Wolf', );
$-yoshi-name: 'Yoshi';
$-yoshi-x: 40px;
$-yoshi-y: 320px;
$-yoshi-offset-x: -40px;
$-yoshi-offset-y: -320px;
$-yoshi-width: 40px;
$-yoshi-height: 40px;
$-yoshi-total-width: 360px;
$-yoshi-total-height: 360px;
$-yoshi-image: '~sprite.png';
$-yoshi: (40px, 320px, -40px, -320px, 40px, 40px, 360px, 360px, '~sprite.png', 'Yoshi', );
$-young-link-name: 'YoungLink';
$-young-link-x: 80px;
$-young-link-y: 320px;
$-young-link-offset-x: -80px;
$-young-link-offset-y: -320px;
$-young-link-width: 40px;
$-young-link-height: 40px;
$-young-link-total-width: 360px;
$-young-link-total-height: 360px;
$-young-link-image: '~sprite.png';
$-young-link: (80px, 320px, -80px, -320px, 40px, 40px, 360px, 360px, '~sprite.png', 'YoungLink', );
$-zelda-name: 'Zelda';
$-zelda-x: 120px;
$-zelda-y: 320px;
$-zelda-offset-x: -120px;
$-zelda-offset-y: -320px;
$-zelda-width: 40px;
$-zelda-height: 40px;
$-zelda-total-width: 360px;
$-zelda-total-height: 360px;
$-zelda-image: '~sprite.png';
$-zelda: (120px, 320px, -120px, -320px, 40px, 40px, 360px, 360px, '~sprite.png', 'Zelda', );
$-zero-suit-samus-name: 'ZeroSuitSamus';
$-zero-suit-samus-x: 160px;
$-zero-suit-samus-y: 320px;
$-zero-suit-samus-offset-x: -160px;
$-zero-suit-samus-offset-y: -320px;
$-zero-suit-samus-width: 40px;
$-zero-suit-samus-height: 40px;
$-zero-suit-samus-total-width: 360px;
$-zero-suit-samus-total-height: 360px;
$-zero-suit-samus-image: '~sprite.png';
$-zero-suit-samus: (160px, 320px, -160px, -320px, 40px, 40px, 360px, 360px, '~sprite.png', 'ZeroSuitSamus', );
$spritesheet-width: 360px;
$spritesheet-height: 360px;
$spritesheet-image: '~sprite.png';
$spritesheet-sprites: ($-banjo, $-bayonetta, $-bowser, $-bowser-jr, $-captain-falcon, $-chrom, $-cloud, $-corrin, $-daisy, $-dark-pit, $-dark-samus, $-diddy-kong, $-donkey-kong, $-dr-mario, $-duck-hunt, $-falco, $-fox, $-ganondorf, $-greninja, $-hero, $-ice-climbers, $-ike, $-incineroar, $-inkling, $-isabelle, $-jigglypuff, $-joker, $-ken, $-king-dedede, $-king-k-rool, $-kirby, $-link, $-little-mac, $-lucario, $-lucas, $-lucina, $-luigi, $-mario, $-marth, $-mega-man, $-meta-knight, $-mewtwo, $-mii-fighter, $-mr-game-and-watch, $-ness, $-olimar, $-pacman, $-palutena, $-peach, $-pichu, $-pikachu, $-piranha-plant, $-pit, $-pokemon-trainer, $-richter, $-ridley, $-r-o-b, $-robin, $-rosalina, $-roy, $-ryu, $-samus, $-sheik, $-shulk, $-simon, $-snake, $-sonic, $-terry, $-toon-link, $-villager, $-wario, $-wii-fit-trainer, $-wolf, $-yoshi, $-young-link, $-zelda, $-zero-suit-samus, );
$spritesheet: (360px, 360px, '~sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
